*{
    margin: auto;
}

.bg-logo{
    background-color: cornflowerblue;
    background-image: url(../img/pattern.png);
    background-size: 400px;
}

#logo{
    width: 250px;
    padding: 20px;
}

a{
    color: aqua;
}

.small-text{
    font-size: small;
}

.grey-text{
    color: darkgray;
}